.site-title {
  color: rgb(254, 255, 253);
}
.main-area {
  padding: 2em;
}
.sidebar {
  background: white;
}

.masthead {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../hero2.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 30em) {
  .masthead {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
