/**********************************************************************
BASE STYLE FOR MENUS 
*********************************************************************/

.menu-section {
  /* padding-bottom: 2em;
  margin-bottom: 2em; */
  border-bottom: 1px solid hsl(0, 0%);
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: hsl(0, 0%, 15%);
}

.menu li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.6em 1em;
}

.menu li a:hover {
  background: hsl(0, 0%, 25%);
}

@media screen and (max-width: 30em) {
  .menu-section {
    display: none;
  }
  .menu-icon {
    color: hsl(0, 0%, 25%);
    background-color: hsl(0, 0%, 66%);
    font-size: 2em;
    position: fixed;
    z-index: 1;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
  }
  .close-nav {
    display: none;
    font-size: 48px;
    color: #fff;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 252px;
    border: none;
  }
  .reveal {
    display: block;
  }
  .unreveal {
    display: none;
  }
  .revealInline {
    display: inline-block;
  }
}
@media screen and (min-width: 30em) {
  .menu-section {
    display: block;
  }
  .menu-icon,
  .close-nav {
    display: none;
  }
}
